body {
    margin:0%;
    padding:0%;
    font-family:sans-serif;
}

header {
    text-align: center;
    text-shadow: black 3px 3px;
    color:rgb(255, 255, 255);
}

img {
    display: block;
    margin: auto;
}

.videoseal {
    position:relative;
    width: 100%;
    height: 100vh;
}

.video1 {
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
    z-index:1;
}

.overlay {
    position:absolute;
    z-index:2;
    background-color: rgb(25, 50, 75);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:60%;
    height:100%;
    box-shadow: 0 0 0 3px rgb(0, 0, 0), 0 8px 30px rgba(0,0,0,0.6);
}

.overlayheader {
    position:sticky;
    top:0;
    z-index:3;
    background-color: rgb(0, 12, 23);
    box-shadow: 0 0 0 2px rgb(0, 0, 0), 0 5px 30px rgba(0,0,0,0.6);
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 25px;
    text-align: right;
}

.headertext2 {
    text-align: left;
    font-size: 1.5rem;
    font-style: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);

    position:sticky;
    top:0;
    z-index:3;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 25px;
    text-align: left;
}

.headertext {
    font-size: 1.5rem;
    font-style: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link1 {
    font-size: 1.5rem;
    font-style: unset;
    text-decoration: none;
    color: rgb(118, 26, 26);
}