html {
    overflow-y: scroll
}

body {
    margin:0%;
    padding:0%;
    font-family:sans-serif;
}

header {
    text-align: center;
    text-shadow: black 3px 3px;
    color:rgb(255, 255, 255);
}

img {
    display: block;
    margin: auto;
    z-index:4;
    border-image: black 3px;
}

.videoseal {
    position:absolute;
    width: 100%;
    height: 50em;
}

.video1 {
    position:fixed;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
    z-index:1;
}

.overlay {
    position:relative;
    z-index:2;
    background-color: rgb(25, 50, 75);
    margin: 0 auto;
    width:60%;
    height:auto;
    box-shadow: 0 0 0 3px rgb(0, 0, 0), 0 8px 30px rgba(0,0,0,0.6);
}

.overlayheader {
    position:sticky;
    top:0;
    z-index:5;
    background-color: rgb(0, 12, 23);
    box-shadow: 0 0 0 2px rgb(0, 0, 0), 0 5px 30px rgba(0,0,0,0.6);
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 25px;
    text-align: right;
}

.headertext {
    font-size: 1.5rem;
    font-style: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index:15;
}

.link1 {
    font-size: 1.5rem;
    font-style: unset;
    text-decoration: none;
    color: rgb(118, 26, 26);
}

.maintext {
    font-style: sans-serif;
    color: rgb(255, 255, 255);
    z-index:3;
    padding: 20px;
    position: relative;
    text-align: left;
    max-width: 42em;
    margin:auto;
}

.maintext *:not(hr) {
  transform: translateX(1rem);
}

a:link {
    color:white;
    font-style: unset;
    text-decoration: none;
}

a:visited {
    color:gray;
}

a:active {
    color:grey;
}

.hrtext {
    font-style: sans-serif;
    color: rgb(255, 255, 255);
    z-index:3;
    text-align: left;
    max-width: 21em;
    margin-inline-start: 0;
}
