body {
    margin:0%;
    padding:0%;
    font-family:sans-serif;
}

h1 {
    text-align: center;
    text-shadow: black 3px 3px;
    color:grey 
}

img {
    display: block;
    margin: auto;
}

.videoseal {
    position:relative;
    width: 100%;
    height: 100vh;
}

.video1 {
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
    z-index:1;
}

.overlay {
    position:absolute;
    z-index:2;
    background-color: rgb(25, 50, 75);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:33%;
    height:60%;
    max-width: 80%;
    box-shadow: 0 0 0 3px rgb(0, 0, 0), 0 8px 30px rgba(0,0,0,0.6);
}

.link1 {
    font-size: 7rem;
    font-style: unset;
    text-decoration: none;
    color: rgb(69, 69, 69)
}

