: root{
    --bg: #1f1658;
    --fg: rgb(90, 85, 90);
}

body {
    margin-top: 100px;
    padding-top: 100px;
    background: var(--bg);
    color: var(--fg);
    font-family:sans-serif
}

h1 {
    text-align: center;
    text-shadow: black 3px 3px;
}

h3 {
    text-align: center;
}